// app global css in Stylus form

.q-btn, .q-tab {
  text-transform unset
}

// --------------------------------------------------------------------------------
// Menu
// --------------------------------------------------------------------------------
.o-menu {
  min-width 160px !important

  .q-list {
    padding 8px 0
    .q-item {
      padding 8px 10px
      min-height unset
    }
  }

  .q-item {
    min-height unset
    padding 4px 8px

    .q-item__section--main {
      padding-left 8px
    }
  }

  .q-avatar {
    width 2rem !important
    height 2rem !important
  }
}
